@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.container {
  width: 1040px;
  margin: 0 auto;
  outline: 1px solid red;
}

.main-container {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.navigation-form-search-name {
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}

.navigation-link {
  color: #000000;
}

.navigation-item {
  list-style-type: none;
}

.input-link {
  color: #000000;
}

.input-item {
  list-style-type: none;
}

.navigation-catalog-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-catalog-item {
  list-style-type: none;
}

.navigation-information-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-information-item {
  list-style-type: none;
}

.slider-name {
  color: #ffffff;
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 200px;
  background-color: #ffe17f;
}

.slider-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.slider-description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.slider-link-name {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.parameter-term {
  color: #000000;
  font-size: 36px;
}

.parameter-description {
  font-size: 16px;
}

.catalog-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.catalog-item {
  list-style-type: none;
}

.service-link {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  list-style-type: none;
  width: 150px;
  height: 20px;
  flex-shrink: 0;
}

.service-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.service-item {
  list-style-type: none;
}

.product-rare-button {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.company-information {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.company-postal-line {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.company-more {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.contacts-item-name {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address-text {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  text-decoration-line: underline;
}

.write-form {
  color: #000000;
  text-align: center;
  font-family: Raleway;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.newsletter-name {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.newsletter-description {
  font-weight: 400;
}

.button-newsletter {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
}

.footer-address-map-link {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.footer-service-item {
  list-style-type: none;
}

.footer-service-link {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-phone-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

.input-exit {
  color: #000000;
}

.monopods {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.breadcrumbs-link {
  color: #000000;
  font-size: 16px;
  line-height: normal;
}

.catalog-filter-name {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-filter-cost-name {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.catalog-filter-title {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.control-input {
  color: #000000;
  font-size: 16px;
  line-height: normal;
}

.catalog-filter-item {
  color: #000000;
  font-size: 16px;
  list-style-type: none;
  line-height: normal;
}

.button-show {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.sorting-name {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.select-control-popular {
  color: #000000;
}

.product-card {
  list-style-type: none;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-price {
  text-align: right line-height: normal;
}

.button-show-more {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.pagination-item {
  list-style-type: none;
}

.pagination-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* .catalog-list {
width: 1160px;
height: 253px;
display: flex;
} */
.header-container {}

.navigation-header {
  padding: 0 60px;
  display: flex;
  flex-direction: column;

}

.logo-link {
  margin: 0;
  padding: 0;
  margin-top: 13px;
}

.navigation-row {
display: flex;
}


.navigation-input-list {
  display: flex;
  margin-right: auto;
}

.navigation-list {
  display: flex;
}


.navigation-information-list {
  width: 500px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.navigation-information-item {
  flex-grow: 1;
}

.slider {
  margin-bottom: 70px;
}

.slider-item {
  display: flex;
  flex-direction: row;
}

.slider-image {
  width: 560px;
  height: 560px;
}

.slider-information {
  width: 560px;
  display: flex;
  flex-direction: column;
}

.catalog {
  margin-bottom: 70px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
}


.catalog-item {
  min-width: 160px;
  min-height: 260px;
  background-color: #ffe17f;
}

.catalog-item:last-child {

}

.catalog-item-virtual {
  background-image: url("../images/categorias/virtual.svg");
}

.catalog-item-monopod {
  background-image: url("../images/categorias/monopod.svg");
}

.catalog-item-camera {
  background-image: url("../images/categorias/camera.svg");
}

.catalog-item-bracelet {
  background-image: url("../images/categorias/bracelet.svg");
}

.catalog-item-clocks {
  background-image: url("../images/categorias/clocks.svg");
}

.catalog-item-quadrocopter {
  background-image: url("../images/categorias/quadrocopter.svg");
}

.service {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 50px;

}

.service-list {
  width: 280px;
padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.product-rare-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.company {
  margin 0 auto;
  display: flex;
}

.company-information {
  width: 520px;
  display: flex;
  flex-direction: column;

}

.newsletter {
  background-color: #f0f0f0;
  padding-bottom: 60px;
}
.newsletter-item{
  display: flex;
}
.newsletter-name{
  padding: 5px 50px 50px 0;
}

.newsletter-description{
padding: 50px 50px 50px 35px;
}
.newsletter-item-form{
display: flex;
}
.newsletter-gratis{
margin: 0 0 30px 200px;
}
.page-footer {
  width: 100%;
}
