@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1240px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  outline: 1px solid red;
}

.main-container {
  flex-grow: 1;

}

.main-container-catalog {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
}

.navigation-form-search-name {
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}

.navigation-item {
  list-style-type: none;
  padding-right: 25px;
  outline: 1px solid green;
}

.navigation-link {
  color: #000000;
  outline: 1px solid red;
  position: relative;
  padding-left: 27px;
}

.navigation-link::before {
  content: "";
  width: 15px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}

.navigation-link-chart::before {
  background-image: url("../images/icons/chart.svg");
}

.navigation-link-basket::before {
  background-image: url("../images/icons/basket.svg");
}

.input-link {
  color: #000000;
  outline: 1px solid red;
  position: relative;
  padding-left: 27px;
}

.input-link::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  background-image: url("../images/icons/user.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
}

.input-item {
  list-style-type: none;
  outline: 1px solid green;

}

.navigation-catalog-link {
  color: #000000;

  font-family: "Raleway", sans-serif;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  padding: 15px 70px 15px 0;
  outline: 1px solid green;
}

.navigation-catalog-link::after {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url("../images/icons/Ellipse.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.navigation-catalog-item {
  list-style-type: none;
}

.navigation-information-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-information-item {
  list-style-type: none;
}

.navigation-header {
  padding: 15px 60px 0 60px;

}

.navigation-row {
  display: flex;
  justify-content: space-between;
  outline: 1px solid blue;
}

.navigation-input-list {
  display: flex;
  outline: 1px solid blue;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  outline: 1px solid blue;
}

.navigation-information-list {
  width: 500px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.navigation-information-item {
  flex-grow: 1;
}

.slider-name {
  color: #ffffff;
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 200px;
  background-color: #ffe17f;
}

.slider-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.slider-description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.slider-link-name {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 220px;
  left: 0;
}

.slider-prev {
  background-image: url(../images/icons/arrow-left.svg);
  left: 30px;
}

.slider-next {
  background-image: url(../images/icons/arrow-right.svg);
  left: 540px;
}

.parameter {
  display: flex;
}

.parameter-term {
  color: #000000;
  font-size: 36px;
}

.parameter-description {
  font-size: 16px;
  margin-left: 0;
}

.parameter-wrapper {
  margin-right: 20px;
}

.catalog-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.catalog-item {
  list-style-type: none;
  background-repeat: no-repeat;
}

.service-link {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  list-style-type: none;
  width: 150px;
  height: 20px;
  flex-shrink: 0;
}

.service-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 25px 0;
}

.service-item {
  list-style-type: none;

}

.product-rare-button {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.company-information {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.company-postal-line {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.company-more {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.contacts-item-name {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address-text {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  text-decoration-line: underline;
}

.write-form {
  color: #000000;
  text-align: center;
  font-family: Raleway;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.newsletter-name {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.newsletter-description {
  font-weight: 400;
}

.button-newsletter {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-container {
  background-color: #444444;
}

.footer-address-map-link {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.footer-service-item {
  list-style-type: none;
}

.footer-service-link {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-phone-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

.input-exit {
  color: #000000;
}

.monopods {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.breadcrumbs-link {
  color: #000000;
  font-size: 16px;
  line-height: normal;
}

.catalog-filter {
  width: 260px;
  padding-left: 60px;
}


.catalog-filter-name {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-filter-cost {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.catalog-filter-title {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.control-input {
  color: #000000;
  font-size: 16px;
  line-height: normal;
}

.catalog-filter-item {
  color: #000000;
  font-size: 16px;
  list-style-type: none;
  line-height: normal;
}

.button-show {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.sorting-name {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
}

.select-control-popular {
  color: #000000;
}

.product-card {
  list-style-type: none;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.product-card-price {
  text-align: right line-height: normal;
}

.button-show-more {
  color: #000000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}



.slider {
  margin-bottom: 70px;
}

.slider .container {
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
}

.slider-image {
  width: 560px;
  height: 560px;
  outline: 1px solid blue;
}

.slider-information {
  width: 560px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.slider-pagination {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 110px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-item {
  margin-left: 10px;
}

.catalog {
  margin-bottom: 70px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}




.catalog-item:last-child {
  margin-right: 0;
}

.catalog-link {
  width: 160px;
  display: block;
  position: relative;
  padding-top: 193px;
}

.catalog-link-virtual::before {
  background-image: url("../images/categorias/virtual.svg");
}

.catalog-link-monopod::before {
  background-image: url("../images/categorias/monopod.svg");
}

.catalog-link-camera::before {
  background-image: url("../images/categorias/camera.svg");
}

.catalog-link-bracelet::before {
  background-image: url("../images/categorias/bracelet.svg");
}

.catalog-link-clocks::before {
  background-image: url("../images/categorias/clocks.svg");
}

.catalog-link-quadrocopter::before {
  background-image: url("../images/categorias/quadrocopter.svg");
}

.catalog-link::before {
  content: "";
  width: 160px;
  height: 160px;
  display: block;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.service {
  margin-bottom: 50px;

}

.service-container {
  display: flex;
}

.service-list-button {
  width: 250px;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-list {
  margin: 0;
  width: 500px;

}

.service-item {
  display: none;
  position: relative;
  padding-right: 250px;
  outline: 1px solid green;

}

.service-item::after {
  content: "";
  width: 136px;
  height: 164px;
  display: inline-block;
  background-image: url(../images/icons/delivery.svg);
  background-repeat: no-repeat;
  position: absolute;

}


.service-item-active {
  display: block;
}

.product-rare-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 25px 0;
}

.company {
  padding: 30px 0;
  display: flex;

}

.company-information {
  width: 520px;
  display: flex;
  flex-direction: column;

}

.newsletter {
  background-color: #f0f0f0;
  padding-bottom: 60px;
}

.newsletter-item {
  display: flex;
}

.newsletter-name {
  padding: 5px 50px 50px 0;
}

.newsletter-description {
  padding: 50px 50px 50px 35px;
}

.newsletter-item-form {
  display: flex;
}

.newsletter-gratis {
  margin: 0 0 30px 200px;
}

.footer-container {
  width: 100%;
  padding: 60px 0;
}

.footer-container-information {
  display: flex;
  justify-content: space-between;
}

.footer-service-list {
  display: flex;
  width: 444px;
  padding-left: 0;
  margin: 0;
  justify-content: space-between;
}

.footer-social {
  margin-left: auto;
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.footer-button {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: block;
  margin: 8px;
}

.footer-button-facebooke {
  background-image: url("../images/icons/facebook.svg");
}

.footer-button-instagram {
  background-image: url("../images/icons/instagram.svg");
}

.footer-button-twitter {
  background-image: url("../images/icons/twitter.svg");
}

.page-footer-container {
  display: flex;
  padding-left: 115px;
}

.header-catalog-monopod {
  margin-bottom: 30px;
}

.breadcrumbs-list {
  width: 500px;
  display: flex;
  padding-left: 0;
  outline: 1px solid blue;
}

.breadcrumbs-item {
  list-style-type: none;
  padding-right: 30px;
}

.catalog-products {
  display: flex;
}


.catalog-filter-name {
  margin-bottom: 35px;
}

.catalog-filter-cost {
  margin-bottom: 35px;
}

.catalog-filter-group {
  margin-bottom: 35px;
}

.product-list {
  display: grid;
  width: 760px;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 40px;
  padding: 70px 40px 0 40px;
  outline: 1px solid red;
  background-color: #ffffff;
}

.product-card {

  outline: 1px solid blue;
}







.button-show-more {
  width: 800px;
  padding: 20px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-prev {
  padding: 25px;
}

.pagination-next {
  padding: 25px;
}

.pagination-list {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.pagination-item {
  list-style-type: none;
  display: flex;
}

.footer-address {
  width: 240px;
}
